img {
    border-style: hidden;
    margin: 5px;
    float:left;
    height:20px;
    width: 300px;
}

#image1 {
    height:70px;
    width:95px;
    left: 5px;
    
}

#image2 {
    height:70px;
    width:95px;
    left: 5px;
  
}

#image3 {
    height:70px;
    width:95px;

}

#image4 {
    height:70px;
    width:95px;
   
}

body {
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-color: black;
    background-position: 50% 10%;
    
}

.cc {

    background-color: green;
    width: 300px;
    height: 20px;
    vertical-align: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    color: white;
    opacity: 0.9;
    font-family: 'UnifrakturCook', cursive;
    font-size: 40px;
}

#border {
    border-style: hidden;
    height: 800px;
    width: 500px;
    margin: auto;
}

.container {

background-color: blue;
color: white;
opacity: 0.9;
font-family: 'Bellefair', serif;
font-size: 18px;
font-weight: bold;
}

#gn {

    background-color: greenyellow;
    opacity: 0.8;
    font-family: 'Bellefair', serif;
    font-size: 34px;
    font-weight: bold;
    height: 140px;
    width: 150px;
    color: rgb(17, 78, 17);
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    
}



#wl {
    background-color: red;
    opacity: 0.8;
    height: 140px;
    width: 250px;
    color: white;
    font-family: 'Bellefair', serif;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-right: 50px;
    margin-top: 10px;
}

#ts {
    float: left;
    background-color: blueviolet;
    opacity: 0.8;
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin-right: 200px;
}

#total-score {
    background-color: purple;
    opacity: 0.8;
    float: left;
    font-family: 'Bellefair', serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    float: left;
}

.winner {

    height: 80px;
    width: 180px;

}

.loser {

    height: 80px;
    width: 180px;

}